{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="form-container">
  <h1>Publish a post</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="content">Post content</label>
    <textarea
      name="content"
      id="content"
      rows="4"
      cols="50"
      required
    ></textarea>

    <label for="image">Image</label>
    <input type="file" name="image" id="image" accept="image/*" required />
    
    <label for="schedule">Date et heure de publication (optionnel)</label>
    <input type="datetime-local" name="schedule" id="schedule" />

    
    <button type="submit">Publish</button>
    <br><br>
   
    <a href="{% url 'admin:instagram_instagramuser_changelist' %}" class="button button-secondary">Back 🔙</a>
  </form>
</div>

<style>

  .form-container {
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
  }

  textarea,
  input[type="file"],
  input[type="datetime-local"]{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #0056b3;
  }

  .form-footer {
    text-align: center;
    margin-top: 20px;
  }

  .form-footer a {
    text-decoration: none;
  }

  .form-footer a:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}